:root {
    --backgroundColor: #F1EDE5;
    --textColor: #403D1E;
    --buttonColor: #CDD973;
}

html, body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.imageDiv {
    width: 37%;
    height: inherit;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.logoDiv {
    background-color: black;
    opacity: 0.5;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}

.mainDiv {
    width: 63%;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
}

.mainTextDiv {
    height: 33%;
}
.mainFormDiv {
    height: 36%;
}
.mainButtonsDiv {
    padding: 40px;
}

.mainTextDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    color: var(--textColor);
    margin-left: 40px;
    width: 75%;
}

.mainFormDiv {
    
    box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.3), /* top shadow */
    0 4px 6px -4px rgba(0, 0, 0, 0.3);  /* bottom shadow */;

}


.inputFields {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 100px;
}

.inputField {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
}

label {
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    height: 22px;
    border: var(--textColor) solid 2px;
    border-radius: 5px;
}

button {
    padding: 20px;
    color: var(--textColor);
    font-size: 15px;
    font-weight: 900;
    border: 2px solid var(--buttonColor);
    background-color: var(--buttonColor);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px);       /* Slight lift effect */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Subtle shadow */
}