:root {
    --backgroundColor: #F1EDE5;
    --textColor: #403D1E;
    --buttonColor: #CDD973;
}

html, body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.imageDiv {
    width: 37%;
    height: inherit;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.mainDiv {
    width: 63%;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
}

.mainTextDiv, .mainFormDiv, .mainButtonsDiv {
    height: 33%;
}

.mainTextDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    color: var(--textColor);
    margin-left: 40px;
    width: 75%;
}

.mainFormDiv {
    
    box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.3), /* top shadow */
    0 4px 6px -4px rgba(0, 0, 0, 0.3);  /* bottom shadow */;


}

